.home-page {
  .home-center {
    .list-music {
      border-left: 1px solid #d5d5d5;
      border-right: 1px solid #d5d5d5;
      padding-top: 10px;
      background-color: #f1f1f1;

      ul {
        border-bottom: 1px solid #d5d5d5;
        height: 50px;
        list-style-type: none;
      }

      li {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .playing {
        // line-height: 50px;
        text-align: center;
      }
    }
  }
}
