.header-bar {
  border-bottom: 0.1px solid #E6E6E6;
  background-color: white;
  height: 60px;
  z-index: 100;

  h4 {
    color: #000000;
    padding-top: 25px;
    margin-top: 0;
    margin-left: 30px;
    display: inline-block;
    font-size:14px;
    font-weight:bold;
  }

  ul {
    display: initial;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }

  li {
    border-left: 1px solid #E6E6E6;
    float: right;
    display: block;
    font-size: 17px;
    color: #000000;
    text-align: center;
    padding: 18px 16px 17px;
    text-decoration: none;

    .material-icons {
      margin-right: 5%;
      margin-left: 0;
    }
  }

  .header-bar-item {
    color: #ffffff;
    padding: 20px 0;
    border-left: 1px solid #ffffff;
    text-align: center;
  }

  .header-item {
    height: 24px;
  }

  .btn-header-menu {
    padding: 5px 10px 0px 0px;
    border-left: 0px;
  }
}

// .change-password-form {
//   width: 50%;
//   margin-left: 25%;
//   padding-top: 40px;
// }
