.main-layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .main-content {
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0px;
    overflow-y: auto;
    overflow-x:hidden;
    position: absolute;
  }

  .main-area-w195 {
    margin-left: 195px;
    position: initial;
    height: 100%;
    position: relative;
  }

  .main-area-w56 {
    margin-left: 56px;
    position: initial;
    height: 100%;
    position: relative;
  }
}

.ajax-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;

  .ajax-bg {
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
  }

  .image-loading {
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background-color: transparent;
  }
}

