.table-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(224, 224, 224);
  height: 53px;
  padding-right:15px;

  .td {
    padding-left: 24px;
    text-align: left;
    font-size: 13px;
    white-space: nowrap;
    padding-top: 20px;
  }
}

.table-row-striped:nth-of-type(even) {
  background: #F6F6F6;
}

.table-row-striped:nth-of-type(odd) {
  background: #FFFFFF;
}

.table-row-striped-2:nth-of-type(odd) {
  background: #F6F6F6;
}

.table-row-striped-2:nth-of-type(even) {
  background: #FFFFFF;
}

.table-row:hover {
  background: #F6F6F6;
}

.pointer {
  cursor: pointer;
}

.required {
  color: red;
  display: inline-block;
  border-radius: 2px;
  margin-left: 10px;
  font-size: 10px;
  padding: 0px 3px 1px 3px;
}

.mg-pd {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

span:hover {
  color: #cc10cc;
}

//---------------------------------------
$max: 20px;

.equilizer {
  height: $max;
  width: $max;
  transform: rotate(180deg);
}

.bar {
  fill: DeepPink;
  width: 18px;
  animation: equalize 1.25s steps(25, end) 0s infinite;
}

.bar:nth-child(1) {
  animation-duration: 1.9s;
}

.bar:nth-child(2) {
  animation-duration: 2s;
}

.bar:nth-child(3) {
  animation-duration: 2.3s;
}

.bar:nth-child(4) {
  animation-duration: 2.4s;
}

.bar:nth-child(5) {
  animation-duration: 2.1s;
}

.btn-create {
  margin-left: 30px;
  height:40px !important;
  button {
    background-color: #555555 !important;
    height:40px !important;
  }
}

.btn-delete {
  margin-left: 5px;
  span {
    color: white !important;
  }

  svg {
    fill: white !important;
  }

  button {
    background: #ee5351 !important;
  }
}

.btn-edit {
  button {
    background-color: #555555 !important;
  }
}

// .btn-mr5 {
//   margin: 0px 5px !important;
// }

.btn-mt {
  margin-top: -11px;
}

.table-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(224, 224, 224);
  height: 53px;
  padding-right:15px;

  .td {
    padding-left: 24px;
    text-align: left;
    font-size: 13px;
    white-space: nowrap;
    padding-top: 20px;
  }
}

.table-row-striped:nth-of-type(even) {
  background: #F6F6F6;
}

.table-row-striped:nth-of-type(odd) {
  background: #FFFFFF;
}

.table-row-striped-2:nth-of-type(odd) {
  background: #F6F6F6;
}

.table-row-striped-2:nth-of-type(even) {
  background: #FFFFFF;
}

.table-row:hover {
  background: #F6F6F6;
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.Select-control {
  border: none !important;
  border-bottom: 1px solid #e0e0e0 !important;
}

.select-country {
  width: 100% !important;
  svg {
    fill: #999 !important;
  }
}

@keyframes equalize {
  0% {
    height: 60px;
  }
  4% {
    height: 50px;
  }
  8% {
    height: 40px;
  }
  12% {
    height: 30px;
  }
  16% {
    height: 20px;
  }
  20% {
    height: 30px;
  }
  24% {
    height: 40px;
  }
  28% {
    height: 10px;
  }
  32% {
    height: 40px;
  }
  36% {
    height: 60px;
  }
  40% {
    height: 20px;
  }
  44% {
    height: 40px;
  }
  48% {
    height: 70px;
  }
  52% {
    height: 30px;
  }
  56% {
    height: 10px;
  }
  60% {
    height: 30px;
  }
  64% {
    height: 50px;
  }
  68% {
    height: 60px;
  }
  72% {
    height: 70px;
  }
  76% {
    height: 80px;
  }
  80% {
    height: 70px;
  }
  84% {
    height: 60px;
  }
  88% {
    height: 50px;
  }
  92% {
    height: 60px;
  }
  96% {
    height: 70px;
  }
  100% {
    height: 80px;
  }
}
