@import "params";

.home-page {
  padding-top: 30px;
  padding-left: 20px;

  .home-center {
    .home-topic {
      color: purple;
      text-transform: uppercase;
    }

    .bxh {
      overflow: hidden;
      margin-bottom: 30px;
      /*margin-bottom: 30px;*/

      .child-tab {
        .main1,.main2, .main3 {
          border: 1px #c7c7c7 solid;
          border-radius: 3px;
          margin-right: 10px;
        }

        .main3 {margin-right: 0}

        .main1-top {
          overflow: hidden;
          padding: 15px 0;
          color: #ffffff;
          background: rgba(6, 6, 6, 0.62);

          span.pointer.title-top {
            text-transform: uppercase;
            padding-left: 15px;
            font-weight: bold;
            line-height: 2;
          }
        }

        .main1-body {
          padding: 10px 5px 0 10px;
          overflow: hidden;
          background: rgba(41, 39, 39, 0.06);

          ul.sub-main1-top {
            margin:  0;
            padding: 0;
            overflow: hidden;
            border-bottom: 1px solid #FFFFFF;

            li {
              border-top: 0;
              overflow: hidden;
              margin: 0;
              height: auto;
              float: left;
              width: 85%;

              .rank {
                background: none;
                color: #3b3b3b;
                width: auto;
                height: auto;
                float: left;
                font-size: 20px;
                height: 65px;
                line-height: 65px;
                margin-right: 30px;
              }
            }

            li.rank-left {
              width: 15%;
              margin-top: 10px;
              padding-left: 8px;
              font-size: 17px;
            }

            li.rank-right {
              ul {
                padding: 0 15px;

                li {
                  display: inline-block;
                  clear: both;
                  text-transform: capitalize;
                }

                li:first-child {
                  font-weight: bold;
                  padding-top: 5px;
                }

                li:last-child {
                  color: #A5A3A3;
                  font-style: italic;
                  font-size: 13px;
                }
              }
            }

            .ellipsis {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }

    .new-song {
      background-color: #e5e5e5;
      margin-top: 20px;
      height: 500px;
    }
  }
}
