@import "params";

.home-page {
  padding-top: 30px;
  padding-left: 20px;

  .home-center {

    .bxh {
      // background-color: #e5e5e5;
      height: 700px;
      margin-bottom: 30px;

      .child-tab {
        .main1 {
          float: left;
          width: 31%;
          border: 1px #c7c7c7 solid;
        }

        .main2, .main3 {
          float: left;
          width: 31%;
          margin-left: 36px;
          border: 1px #c7c7c7 solid;
        }

        .main1-top {
          padding-top: 10px;
          padding-left: 10px;
        }

        .main1-body {
          padding-top: 10px;
          padding-left: 10px;

          ul {
            margin:  0;
            padding:  0;

            li:first-child {
              border-top: 0;
              overflow: hidden;
              margin: 0;
              height: auto;

              .rank {
                background: none;
                color: #3b3b3b;
                width: auto;
                height: auto;
                float: left;
                font-size: 20px;
                height: 65px;
                line-height: 65px;
                margin-right: 30px;
              }
            }

            .ellipsis {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }

    .new-song {
      background-color: #e5e5e5;
      margin-top: 20px;
      height: 500px;
    }
  }

  .home-left {
    background-color: #e5e5e5;
  }
}
